<div class="d-flex justify-content-around">
  <div class="col-md-7 border border-dark login-image">

  </div>
  <div class="col-md-4 border border-dark px-3">
    <h2 class="text-center text-light">Enter now!</h2>
    <form>
      <div class="d-block">
        <label for="email" class="d-block text-center text-light">E-mail</label>
        <input type="text" id="email" class="forms" />
      </div>
      <div class="d-block">
        <label for="password" class="d-block text-center text-light">Password</label>
        <input type="password" id="password" class="forms" />
      </div>
      <button type="button" class="btn btn-light mt-5">Enter</button>
    </form>
  </div>
</div>
