.login-image {
    background-image: url("../../../../../wwwroot/login-backgroundImage.jpg");
    background-position: center;
    background-size: cover;
    height: 670px;
}

.forms {
    width: 28em;
}

.btn {
    padding-left: 45px;
    padding-right: 45px;
    font-weight: bold;
}
