<table mat-table [dataSource]="users" class="bg-cream">
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element font-weight-bold"> {{element.userId}} </td>
  </ng-container>
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>
  <ng-container matColumnDef="oSVersion">
    <th mat-header-cell *matHeaderCellDef> OS Version </th>
    <td mat-cell *matCellDef="let element"> {{element?.osVersion ?? 'N/A'}} </td>
  </ng-container>
  <ng-container matColumnDef="lastActivicty">
    <th mat-header-cell *matHeaderCellDef> Last Activicty </th>
    <td mat-cell *matCellDef="let element"> {{element?.lastActivicty ?? 'N/A'}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-table-blue"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="GetDetails(row)" class="table-row tb-border"></tr>
</table>
<!--<ng-template [ngIf]="clickedRow != null" class="container">
  <h2 class="text-white text-center">{{clickedRow.userId}} - {{clickedRow.username}} commands</h2>
  <input type="text" [(ngModel)]="commands"/>

  <button class="btn-primary" (click)="SendCommand(clickedRow)">Send</button>
</ng-template>-->
