<div mat-dialog class="details container p-3">
  <h1 mat-dialog-title class="text-center mt-2">{{data.clientId}} - {{data.clientName}} config</h1>
  <div mat-dialog-content>
    <form class="form-group p-3 m-3 border border-dark">
      <div class="row d-flex">
        <div class="col-2 text-center">
          <label for="ClientId">ID</label>
          <input type="text" id="ClientId" class="form-control flex-fill" placeholder="{{data.clientId}}" disabled>
        </div>
        <div class="col text-center">
          <label for="Username">User</label>
          <input type="text" id="Username" class="form-control flex-fill" placeholder="{{data.clientName}}" disabled>
        </div>
        <div class="col text-center">
          <label for="osVersion">OS Version</label>
          <input type="text" id="osVersion" class="form-control flex-fill" placeholder="{{data.osversion}}" disabled>
        </div>
        <div class="col text-center">
          <label for="lastActivicty">Last Activicty</label>
          <input type="datetime" id="lastActivicty" class="form-control" placeholder="{{data.lastActivicty}}" disabled>
        </div>
      </div>
    </form>
    <form class="p-4 m-3 border border-dark form-group">
      <div class="row d-flex mb-3">
        <label for="CommandType">Command type:</label>
        <select id="CommandType" class="form-select" aria-label="Default select example"  (change)="onSelected(commandTypesSelect)" #commandTypesSelect>
          <option selected>None</option>
          <option *ngFor="let commandType of commandTypes" [value]="commandType">{{commandType}}</option>
        </select>
      </div>
      <div class="row d-flex">
        <label for="parameters">Parameters:</label>
        <textarea class="form-control" id="parameter" rows="5" placeholder="parameter1;parameter2;parameter3;" (input)="parameterChanged($event)"></textarea>
      </div>
    </form>
    <div class="col-md-12 text-center">
      <button class="btn btn-primary" (click)="SendCommand()">Send commands</button>
    </div>
  </div>
</div>
